# Ambiente
backend/.env
frontend/.env

# Banco de dados local
backend/database.db

# Node Modules
backend/node_modules/
frontend/node_modules/

# Lock files
backend/package-lock.json
frontend/package-lock.json

# IDEs e configurações locais
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diretórios e arquivos gerados
node_modules
frontend/dist
frontend/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?