$color-primary:        #07393C;  // Eminence → botões, ações primárias
$color-secondary:      #2C666E;  // Thistle → detalhes, realces
$color-surface:        #90DDF0;  // Platinum → cards, inputs, containers
$color-background:     #F0EDEE;  // Alice Blue → fundo principal
$color-text:           #0A090C;  // Payne’s Gray → texto principal
$color-border: #00000066;